//my colors

@purple:			#475C98;
@blue: #3399CC;



@headlineFontFamily: 'Wendy One', sans-serif;
@copyFontFamily:	'Source Sans Pro', sans-serif;

@import "variables.less";
@import "mixins.less";
@navbar-inverse-bg: #3399CC;

//inverse bar
@navbar-inverse-link-color: #fff;

@navbar-inverse-border:fff;


h1, h2, h3, h4, h5, h6 {
	font-family: @headlineFontFamily;
	color: @purple;
//	font-weight: 700;
//	font-style: italic;
}

body {
	padding-top: 124px; 
	background: url(/images/misc/flock.png) no-repeat center top fixed; 
}



p {
	font-family: @copyFontFamily;
	font-size: 1.1em;
	line-height: 1.4em;
	color: @darkblue;
	padding: 0 2%;
	font-weight: 400;}

#branding {
	img {
		margin: 10px 0 5px 25px;
		max-width: 360px;
			@media(max-width: 767px) {
				margin: 10px 0 5px 10px;
				width: 90%;
			}
	}
}

.navbar-inverse {
  #gradient > .vertical(@start-color: @navbar-inverse-bg; @end-color: transparent);
  .reset-filter(); // Remove gradient in IE<10 to fix bug where dropdowns don't get triggered
  .navbar-brand,
  .navbar-nav > li > a {
    text-shadow: 0 -1px 0 rgba(0,0,0,.25);
  }
}

